<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzzzzzz</title>
</head>
<body>
    <h1>Générateur de Quiz</h1>
    <p>Teste tes connaissances ou révise à partir de tes cours !</p>

    <button><a href="/upload-page">📄 Générer un quiz depuis un fichier</a></button>
    <br><br>
    <button><a href="/sujet-page">💡 Me tester sur un sujet</a></button>
    <script src="/static/script.js"></script>
    
</body>
</html>